:root{
    --darkest-color: rgb(82, 82, 82); 
    --dark-charcoal: #333333;
    --gun-metal-gray: #4A4A4A;
    --steel-gray: #626262;
    --slate-gray: #6E6E6E;
    --metallic-silver: #8A8A8A;

}

body {
    background-color: black;
    overflow: hidden;
}
#text-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#text {
    font-size: 10rem;
    color: transparent;
    background: blue;
    background-clip: text;
    animation-duration: 1s;
    animation-name: shine;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes shine {
    from {
        color: transparent;
        background: linear-gradient(var(--dark-charcoal), var(--gun-metal-gray), var(--steel-gray), var(--slate-gray), var(--metallic-silver) 40%);
        background-clip: text;
    }

    75% {
        color: transparent;
        background: linear-gradient(var(--gun-metal-gray) 0%, var(--steel-gray) 10%, var(--slate-gray) 20%, var(--metallic-silver) 30%, var(--dark-charcoal) 50%);
        background-clip: text;
    }
    50% {
        color: transparent;
        background: linear-gradient(var(--steel-gray), var(--slate-gray), var(--metallic-silver) 40%, var(--dark-charcoal), var(--gun-metal-gray));
        background-clip: text;
    }
    25% {
        color: transparent;
        background: linear-gradient(var(--slate-gray), var(--metallic-silver) 40%, var(--dark-charcoal), var(--gun-metal-gray), var(--steel-gray));
        background-clip: text;
    }
    to {
        color: transparent;
        background: linear-gradient(var(--metallic-silver) 40%, var(--dark-charcoal), var(--gun-metal-gray), var(--steel-gray), var(--slate-gray));
        background-clip: text;
    }
  }