body {
    background-color: black;
    overflow: hidden;
}

#text-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



#text {
    color: darkgrey;
}